.transactionHistory {
  margin-top: 40px;
  width: 500px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.thead {
  font-size: 24px;
  text-align: center;
}

.headerTitle {
  padding: 8px 16px;
  background-color: #929AEE;
  color: #ffff;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.headerTitle:first-child {
  border-radius: 8px 0 0 0;
}
.headerTitle:last-child {
  border-radius: 0 8px 0 0;
}
.headerTitle:last-child .transactionData:first-child {
  border-radius: 0 0 0 8px;
}
.headerTitle:last-child .transactionData:last-child {
  border-radius: 0 0 8px 0;
}

.data {
  width: 30%;
  color: #6a033c;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.headerContainer:nth-child(even) {
  background-color: #E9D4E2;
}